In [62]:
import sys
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install matplotlib
!{sys.executable} -m pip install seaborn

# import sys
# !conda install --yes --prefix {sys.prefix} numpy
# !conda install --yes --prefix {sys.prefix} matplotlib
# !conda install --yes --prefix {sys.prefix} pandas

Requirement already satisfied: pandas in /home/charlie/.local/lib/python3.8/site-packages (1.3.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2017.3 in /home/charlie/.local/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.17.3 in /home/charlie/.local/lib/python3.8/site-packages (from pandas) (1.21.2)
Requirement already satisfied: matplotlib in /home/charlie/.local/lib/python3.8/site-packages (3.4.3)
Requirement already satisfied: cycler>=0.10 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.16 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib) (1.21.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib) (8.3.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/lib/python3/dist-packages (from matplotlib) (2.7.3)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from cycler>=0.10->matplotlib) (1.14.0)
Requirement already satisfied: seaborn in /home/charlie/.local/lib/python3.8/site-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in /home/charlie/.local/lib/python3.8/site-packages (from seaborn) (1.7.1)
Requirement already satisfied: matplotlib>=2.2 in /home/charlie/.local/lib/python3.8/site-packages (from seaborn) (3.4.3)
Requirement already satisfied: numpy>=1.15 in /home/charlie/.local/lib/python3.8/site-packages (from seaborn) (1.21.2)
Requirement already satisfied: pandas>=0.23 in /home/charlie/.local/lib/python3.8/site-packages (from seaborn) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/lib/python3/dist-packages (from matplotlib>=2.2->seaborn) (2.7.3)
Requirement already satisfied: pytz>=2017.3 in /home/charlie/.local/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2021.1)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.14.0)

In [63]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# THE DATASET
Before you start, go to this link: https://apps.who.int/gho/data/node.dementia & watch the 'Download the dataset' video from section 6 to download the dataset. It shows how the blood pressure in countries has varied from 1975 to 2015. Each year has seperate columns for 'Both sexes', 'Male' & 'Female'. The values in the table are in the string format: '{average} [{range}]'. The data will need to be cleaned before it can be visualized

## Objectives:
1. Rename the columns so they display the information from the 3rd row.
2. Remove the first 3 rows.
3. Make the country column the index column.
4. Convert blood pressure data from having average and range to just having average
5. Create a smaller dataframe only containing the (Both sexes) data
6. Convert the blood pressure data from strings to floats
7. Transpose the data so it fits seaborn's lineplot method.
8. Reverse the data so the years ascend from left to right.

# 1. Renaming columns

We will create a function which takes the old column name as input and returns a column name with the year and information from row 3, e.g. for column 2, we want to convert '2015' to 2015 (Both sexes)'

NOTE: we want the 'Unnamed: 0' column to be the 'Country' column

Now let's assign the columns property of the dataframe (df.columns) to a list. This list will be made using list comprehension (see Section 2). Each element in the list is formed by applying the get_column_name function on the current element in df.columns.

# 2. Removing the 1st 3 rows

As you can see from above, the 3rd row of the DataFrame is useless now that we have renamed the columns. The 1st and 2nd rows were always useless. Let's remove them:

# 3. Making the 'Country' column the index column of the DataFrame
This is so that we can now access rows from their corresponding country using df.loc[country_name]

### Challenge: Access 'Andorra' row using .loc[]

# 4. Removing the range part of the blood pressure data

1. Below we define a function which takes in a cell from the DataFrame as input. 
2. This cell will be a string, e.g.'30.6 [23.6-38.3]'. cell.split(' ') returns a list of strings formed by splitting up the cell string at the spaces giving: ['30.6', '[23.6-38.3]'].
3. We then want the first element (0th index) of this list (as this is the mean blood pressure) so we use: cell.split(' ')[0]

## Using .apply() to change the values in a DataFrame
Below we use a for loop to pass through every column name in df.columns. For each column name, we set the column's DataFrame (df[column_name]) equal to df[column_name].apply(remove_range). This is like setting it equal to the original column's DataFrame after we have 'applied' the remove_range(cell) function on every cell in the column.

## 5. Creating a new dataset (df_both) which only contains the (Both sexes) Columns from df

Below we will create an empty list called column_names_of_columns_to_drop. Then, we use a for loop to iterate through the column names in df.columns. If the 2nd element (1st index) of the column_name.split(' ') is not equal to '(Both', we know it is not a 'Both sexes' column, so we can add that to the list.

We can now create our new DataFrame, df_both, which we will set equal to the original DataFrame df with .drop() applied on it. The kwarg labels (names) of columns to drop is set equal to column_names_of_columns_to_drop. The kwarg axis is set equal to 1 because we want to remove columns and they have axis = 1.

### Challenge: Rename the columns in df_both
We can now rename the columns because they are 'Both sexes' columns.

## 6. Trying (and failing) to convert the data from strings to floats

At the moment, the blood pressure data in the cells are strings:

We use the pd.to_numeric method to convertn cells in df_both columns from strings into floats

However, we get an error...

# Realising that for some countries, there is "No" data:

Some of the rows do not contain any data, only the string 'No'. For example Sudan:

This isn't very helpful for plotting data so these rows should be removed

# Finding these countries
First, lets create a list of all countries. We can do this using df_both.index since the Country column is the DataFrame's index column

First, create an empty list called countries_to_remove. Now use for loop to pass through each country in countries list above. And if the value at the row of that country in the '2015' column equals 'No', then we add it to countres_to_remove

# Removing these countries
To remove these countries, we set df_both equal to the original df_both with the .drop method applied. We set the labels kwarg equal to the countries_to_remove list we just created. We then set the axis kwarg equal to 0 because we want to remove rows and rows have an axis of 0.

# 6. Converting the string values to floats
Since we have removed the 'No' strings, we can convert the number strings, e.g. '30.6' into floats. For each column_name in df_both.columns, we assign the DataFrame at that column name to itself after we have applied the pd.to_numeric function with downcast='float'

# 7. Transposing the data
In order to use the lineplot function from seaborn, the years must be the rows and countries the columns. This is so that the years appear on the x-axis of the plot.

# 8. Reversing the rows
NOTE: As the years in our dataframe start at 2015 and descend down to 1975, this is how it gets shown on the lineplot, when in fact we want the years to be ascending from left to right. To fix this, we can reverse the rows of our dataframe using list slicing: df_both.iloc[::-1]

# Data Visualization
We will create 3 functions each performing a different task for data visualization.

### Function 1: Setting the figsize, title and axes labels using matplotlib.pyplot (plt)
We use matplotlib.pyplot to set the dimensions of our graph and to give it a title & x-axis and y-axis labels.

Title: "How has blood pressure has varied in different countries between 1975 and 2015"

### Function 2: Setting the year xticks in increments of 5

### Using seaborn (sns) lineplot
To plot a line graph, an option is to use the seaborn lineplot method. The keyword argument is data which you give the dataframe you would like to plot. This data must be correctly formatted with the variable you wish to be on the x-axis being in the rows of the dataframe.