In [66]:
import pandas as pd

In [117]:
df = pd.DataFrame(data=[[123, 'Charlie', 21], [456, 'Michael', 35]], columns=['patientID', 'name', 'age'])
df

   patientID     name  age
0        123  Charlie   21
1        456  Michael   35

In [118]:
df.columns

Index(['patientID', 'name', 'age'], dtype='object')

In [119]:
df.shape

(2, 3)

In [122]:
df = df.set_index('patientID')
df

              name  age
patientID
123        Charlie   21
456        Michael   35

In [123]:
df.loc[123]

name    Charlie
age          21
Name: 123, dtype: object

In [125]:
df.iloc[0, 0]

'Charlie'

In [126]:
df.shape

(2, 2)

In [127]:
df['name']

patientID
123    Charlie
456    Michael
Name: name, dtype: object

In [128]:
df[df['name'] == 'Charlie']

              name  age
patientID
123        Charlie   21