In [1]:
import sys

!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install seaborn
!{sys.executable} -m pip install matplotlib
!{sys.executable} -m pip install numpy

# import sys
# !conda install --yes --prefix {sys.prefix} numpy
# !conda install --yes --prefix {sys.prefix} matplotlib
# !conda install --yes --prefix {sys.prefix} pandas

Requirement already satisfied: numpy in /home/charlie/.local/lib/python3.8/site-packages (1.21.2)
Requirement already satisfied: matplotlib in /home/charlie/.local/lib/python3.8/site-packages (3.4.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: numpy>=1.16 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib) (1.21.2)
Requirement already satisfied: cycler>=0.10 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib) (8.3.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/lib/python3/dist-packages (from matplotlib) (2.7.3)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from cycler>=0.10->matplotlib) (1.14.0)
Requirement already satisfied: pandas in /home/charlie/.local/lib/python3.8/site-packages (1.3.2)
Requirement already satisfied: pytz>=2017.3 in /home/charlie/.local/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied: numpy>=1.17.3 in /home/charlie/.local/lib/python3.8/site-packages (from pandas) (1.21.2)
Requirement already satisfied: seaborn in /home/charlie/.local/lib/python3.8/site-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in /home/charlie/.local/lib/python3.8/site-packages (from seaborn) (1.7.1)
Requirement already satisfied: pandas>=0.23 in /home/charlie/.local/lib/python3.8/site-packages (from seaborn) (1.3.2)
Requirement already satisfied: numpy>=1.15 in /home/charlie/.local/lib/python3.8/site-packages (from seaborn) (1.21.2)
Requirement already satisfied: matplotlib>=2.2 in /home/charlie/.local/lib/python3.8/site-packages (from seaborn) (3.4.3)
Requirement already satisfied: pytz>=2017.3 in /home/charlie/.local/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas>=0.23->seaborn) (2.7.3)
Requirement already satisfied: cycler>=0.10 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in /home/charlie/.local/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (8.3.1)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.14.0)

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

# THE DATASET
This is the dataset downloaded from the WHO website. It shows how the blood pressure in countries has varied from 1975 to 2015. Each year has seperate columns for 'Both sexes', 'Male' & 'Female'. The values in the table are in the string format: '{average} [{range}]'. The data will need to be cleaned before it can be visualized

Objectives:
1. Rename the columns so they display the information from the 3rd row.
2. Remove the first 3 rows.
3. Make the country column the index column.
4. Convert blood pressure data from having average and range to just having average
5. Convert the blood pressure data from strings to floats
6. Create a smaller dataframe only containing the (Both sexes) data
7. Transpose the data so it fits seaborn's lineplot method.

## Reading the dataset using pd.read_csv()
We pass in the relative file path as a string as a positional argument

# 1. Renaming columns
We will create a function which takes the old column name as input and returns a column name with the year and information from row 3.

NOTE: we want the 'Unnamed: 0' column to be the 'Country' column

Now let's assign the columns property of the dataframe (df.columns) to a list. This list will be made using list comprehension (see Section 2). Each element in the list is formed by applying the get_column_name function on the current element in df.columns.

# Removing the 1st 3 rows

In [ ]:
df.iloc[:3]

As you can see from above, the 3rd row of the DataFrame is useless now that we have renamed the columns. The 1st and 2nd rows were always useless. Let's remove them:

# Making the 'Country' column the index column of the DataFrame
This is so that we can now access rows from their corresponding country using df.loc[country_name]

### Challenge: Access 'Andorra' row using .loc[]

# Removing the range part of the blood pressure data

1. Below we define a function which takes in a cell from the DataFrame as input. 
2. This cell will be a string, e.g.'18.6 [13.7-24.1]'. cell.split(' ') returns a list of strings formed by splitting up the cell string at the spaces giving: ['18.6', '[13.7-24.1]'].
3. We then want the first element (0th index) of this list (as this is the mean blood pressure) so we use: cell.split(' ')[0]

## Using .apply() to change the values in a DataFrame
Below we use a for loop to pass through every column name in df.columns. For each column name, we set the column's DataFrame (df[column_name]) equal to df[column_name].apply(remove_range). This is like setting it equal to the original column's DataFrame after we have 'applied' the remove_range(cell) function on every cell in the column.

## Trying (and failing) to convert the data from strings to floats

We use the pd.to_numeric method to convertn cells in df_both columns from strings into floats

However, we get an error...

# Realising that for some countries, there is "No" data:

Some of the rows do not contain any data, only the string 'No'. For example Sudan:

This isn't very helpful for plotting data so these rows should be removed

# Finding these countries
First, lets create a list of all countries. We can do this using df_both.index since the Country column is the DataFrame's index column

First, create an empty list called countries_to_remove. Now use for loop to pass through each country in countries list above. And if the value at the row of that country in the '2015' column equals 'No', then we add it to countres_to_remove

# Removing these countries
We now drop those countries.We again use .drop() but as labels is now set equal to names of rows, axis = 0.

# Converting the string values to floats
Since we have removed the 'No' strings, we can convert the number strings, e.g. '30.6' into floats. We pass through each column_name df.columns with a for loop. For each, we assign the DataFrame at that column name to itself after we have applied the pd.to_numeric function with downcast='float'

## Creating a new dataset (df_both) which only contains the (Both sexes) Columns from df

Below we will create an empty list called column_names_of_columns_to_drop. Then, we use a for loop to iterate through the column names in df.columns. If the 2nd element (1st index) of the column_name.split(' ') is not equal to '(Both', we know it is not a 'Both sexes' column, so we can add that to the list of column names of columns we want to drop from the DataFrame.

We can now create our new DataFrame, df_both, which we will set equal to the original DataFrame df with .drop() applied on it. The labels (names) of columns to drop is set equal to our new list and axis = 1.

### Challenge: Rename the columns in df_both
We can now rename the columns because they are 'Both sexes' columns.

## Transposing the data
In order to use the lineplot function from seaborn, the years must be the rows and countries the columns. This is so that the years appear on the x-axis of the plot.

### Reversing the rows

### Setting the year xticks in increments of 5
As we have data for every year from over 40 years, the graph will try to fit every year on the x axis, leaving it overcrowded. To solve this problem, we can use the numpy external library (np).

We will use the np.arange() method to create a list of numbers. We need to create a list of numbers which starts at 0 and ends at 40 and has increments of 5. np.arange() takes similar arguments to those of list slicing. We want the start to be 0, the stop to be 41 and the step to be 5. So we write np.arange(0, 41, 5).

This is because between 1975 and 2015 there are 40 years and on the x axis we only want to show 1 year in every 5.

We then pass in this list as an argument in plt.xticks()

### Using seaborn (sns) lineplot
To plot a line graph, an option is to use the seaborn lineplot method. The keyword argument is data which you give the dataframe you would like to plot. This data must be correctly formatted with the variable you wish to be on the x-axis being in the rows of the dataframe.

NOTE: When we plot all the data for every country, the graph is very messy. To select only a few countries, we can select them by their column name. To select multiple columns from their name, we use dataframe double square brackets and within the inner square bracket, we write the list of country names.