In [ ]:
import sys
!{sys.executable} -m pip install pandas
!{sys.executable} -m pip install matplotlib
!{sys.executable} -m pip install seaborn

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# THE DATASET
Before you start, go to the link: https://apps.who.int/gho/data/view.gisah.GDO2107v?lang=en & watch the "Download the dataset" video from section 7 to download the dataset. It shows how the blood pressure in countries has varied from 1975 to 2015. Each year has separate columns for "Both Sexes", "Male" and "Female". The values in the table are in the string format: "{average} [{range}]". The data will need to be cleaned before it can be visualized.

# Objectives:
1. Rename the columns so they display the information from the 3rd row.
2. Remove the first 3 rows.
3. Male the country column the index column.
4. Convert blood pressure daa from having averange and range to just having avarage values.
5. Create a small dataframe which contains only the "Both Sexes" data.
6. Convert the blood prssure data from strings to floats.
7. Transpose the data so it fits seaborn's lineplot method.
8. Reverse teh data so the years ascend from left to right.

# 1. Renaming columns

We will create a function which takes the old column as input and returns a column name with the year and information from row 3, e.g. for column 2, we want to convert '2015' to '2015 (Both Sexes)'

NOTE: We want the 'Unnamed: 0' column to be the 'Country' column

# 2. Removing Rows Challenge
Have a go at removing the first 3 rows of the dataframe so the first row has 'Afghanistan' in the Country column

# 3. Making the 'Country' column the index column of the DataFrame
This is so that we can now access rows from their corresponding country using df.loc[country_name]

# 4. Removing the range part of the blood pressure data

1. Below we define a function which takes in a cell from the DataFrame as input
2. This cell will be a string, e.g. '30.6 [23.6-38.3]'. cell.split(' ') returns a list of strings formed by splitting up the cell string at the spaces giving: ['30.6', '[23.6-38.3]'].
3. We then want the first element (0th index) of this list (as this is the mean blood pressure) so we use cell.split(' ')[0]

# Using .apply() to change the values in a DataFrame

Below we use a for loop to pass through every column name in df.columns. for each column name, we set the column's DataFrame (df[column_name]) equal to df[column_name].apply(remove_range). This is like setting it equal to the original column's DataFrame after we have applied the remove_range(cell) on every cell in the column.

## 5. Creating a new dataset (df_both) which only contains the (Both sexes) Columns from df
Below we will create an empty list called column_names_of_columns_to_drop. then, we use a for loop to iterate through the column names in df.columns. If the 2nd element (1st index) of the column_name.split(' ') is not equal to '(Both' we know it is not a 'Both sexes' column so we can add that to the list.

We now create a new DataFrame, df_both, which we set equal to the original DataFrame df with .drop() applied on it. The kwarg labels of columns to drop is set equal to the column_names_of_columns_to_drop list from above. The kwarg axis is set equal to 1 because we want to remove columns and they have axis = 1.

## Challenge: Rename the columns in df_both
WE can now rename the columns because they are all 'Both sexes' columns so this information is no longer necessary.

## 6. Trying (and failing) to convert the data from strings to floats
At the moment, the blood pressure data in the cells are strings.

We use the pd.to_numeric method to convert cells in df_both columns from strings to floats.

However, we get an error

# Realising that for some countries, there is "No" data:
Some of the rows do not contain any data, only the string "No". For example Sudan:

# Finding these countries
First, lets create a list of all countries. We can do this using df_both.index since the Country column is the DataFrame's index column.

Now, lets create a list called countries_to_remove. Now use a for loop to pass through each country in countries list above. And if the value at the row of that country in the "2015" column equals "No" then we add it to the countries_to_remove

# Removing these countries
To remove these countries, we set df_both equal to the original df_both with the .drop() method applied on it. We set the labels kwarg equal to the countries_to_remove list from above. We then set the axis kwarg equal to 0 because we want to remove rows and rows have an axis of 0.

# 6. Converting the string values to floats
Since we have remove the 'No' strings, we can convert the number strings, e.g. '30.6' into floats. For each column_name in df_both.columns, we assign the DataFrame at that column name to itself after we have applied the pd.to_numeric function with downcast='float'.

# 7. Transposing the data
To use the lineplot function from seaborn, the years must be the rows and the countries the columns. This is so that the years appear onthe x-axis of the plot.

# 8. Reversing the rows
As the years in our dataframe start at 2015 and descend down to 1975, this is how it gets shwon on the lineplot, when in fact we want the years to be ascending from left to right. To fix this, we can reverse the rows of our dataframe using list slicing: df_both.iloc[::-1]

# Data Visualization
We will create 3 functions each performing a different task for data visualization.

### Function 1: Setting the figsize, title and axes labels using matplotlib.pyplot (plt)
We use matplotlib.pyplot (plt) to set the dimensions of our graph and to give it a title and x and y axis labels.
Title: "How blood pressure has varied in different countries between 1975 and 2015"

### Function 2: Setting the year xticks in increments of 5

# Using seaborn (sns) lineplot method

To plot a line graph, an option is to use the seaborn lineplot method. The kwarg is data, where you pass the dataframe you would like to plot. The data must be correctly formatted with the variabel you wish to be on the x-axis being in the rows of the dataframe.